<!DOCTYPE html>
<html>

<head>
  <title>ToDo WebApp</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="wrapper">
		<h1>ToDo App</h1>
		<hr />
		<h2>Tasks for today: {{ date }}</h2><hr/>
		<label>All your tasks are noted and will be reminded for sure</label>
		<form action="addTask.html" method="POST">
			{% csrf_token %}
			<label>Add a Task</label><br>
			<textarea name="taskToDo" rows="10" cols="30">
			</textarea>
			<input type="submit" value="Add Task">
		</form>	

		<form action="show_all.html" method="post">
			<input type="submit" value="Show All" name="show_all">
		</form>
		<div class="login block">
			<form action="index.html" method="POST">
			{% csrf_token %}
			{% if user %}
				<p>Welcome {{user.username}}</p>
			{% endif %}
			{% if messages %}
				<ul class="messages">
    			{% for message in messages %}
    				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    			{% endfor %}
				</ul>
			{% endif %}
				<br>
				<label>Username</label>
				<input type="textfield" name="username" placeholder="Username"><br>
				<label>Password</label>
				<input type="password" name="password" placeholder="Password"><br>
				<label>Confirm Password</label>
				<input type="password" name="confirm_password" placeholder="Re-enter Password">
				<br><input type="submit" value="Register New" name="sign_up">
			</form>	
		</div>
		
		
		<form method="post">
			{% csrf_token %}
			{% if user %}
				<p>Welcome {{user.username}}</p>
			{% endif %}
			{% if messages %}
				<ul class="messages">
    			{% for message in messages %}
    				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    			{% endfor %}
				</ul>
			{% endif %}
			<br>
			<label>Username</label>
			<input type="textfield" name="username" placeholder="Username"><br>
			<label>Password</label>
			<input type="password" name="password" placeholder="Password"><br>
			<input type="submit" value="Sign Ip" name="sign_in" style="">
		</form>
		
		<form action="show_all.html" method="post">
			{% csrf_token %}
			<input type="submit" value="Delete task" name="delete_task" style="float:right;margin-right:20px">
		</form>

	</div>
  	<footer>{{ data1 }}</footer>

</body>
</html>
