<!DOCTYPE html>
<html>

<head>
  <title>ToDo WebApp</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container">
		<h3>All Tasks</h3>

		{%if all_task_list %}
		<ul>
			{% for tasks in all_task_list %}
				<li>{{tasks.id}} {{ tasks.TaskDescription }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	<div class="deleteClass">
		<form action="delete_task.html" method="POST">
			<input type="submit" value="Delete task" name="delete_task" style="float:left; padding-left:20px">
		</form>		
	</div>	  	

</body>
</html>
