<!DOCTYPE html>
<html>

<head>
  <title>ToDo WebApp</title>
  <link rel="stylesheet" href="style.css"> 
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.js"></script>

</head>

<body>

		<header style="background-color:#405580;padding:1%; height:auto">
			<h1>ToDo App</h1>
			<h2 style="background-color:#405570">Tasks for today: {{ date }}</h2>
			<label>All your tasks are noted and will be reminded for sure</label>
		</header>
		<form action="addTask.html" method="POST">
			{% csrf_token %}
			<label>Add a Task</label><br>
			<textarea name="taskToDo" rows="10" cols="30" style="padding:1%">
			</textarea>
			<input type="submit" value="Add Task" style="margin-left:20px; padding:2px">
		</form>	

		<form action="show_all.html" method="post">
			<input type="submit" value="Show All" name="show_all" style="padding-bottom:2px margin-botton:5px">
		</form>
			
		
		<div class="AuthenticationBlock" style="border: 1px solid black; width:300px; height:250px; float:10px 10px	; padding:1%; margin:10px">
			<div class="login block" style="padding-left:20px">
				<form action="index.html" method="POST">
					{% csrf_token %}
					{% if user %}
						<p>You have registered successfully, {{user.username}}</p>
					{% endif %}
					{% if messages %}
						<ul class="messages">
	    				{% for message in messages %}
	    					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    				{% endfor %}
						</ul>
					{% endif %}
					<br>
					<label>Username</label>
					<input type="textfield" name="username" placeholder="Username"><br>
					<label>Password</label>
					<input type="password" name="password" placeholder="Password"><br>
					<label>Confirm Password</label>
					<input type="password" name="confirm_password" placeholder="Re-enter Password">
					<br><input type="submit" value="Register New" name="sign_up">
				</form>	
			</div>

			<div id="faltu" style="margin-top:50px; padding:1%">
				<form action="index.html" method="post">
					{% csrf_token %}
					<!--{% if user %}
						<p>Welcome {{user.username}}</p>
					{% endif %} -->
					{% if messages %}
						<ul class="messages">
		    			{% for message in messages %}
		    				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    			{% endfor %}
						</ul>
					{% endif %}
					<div id="show_div">
						<label>Username</label>
						<input type="textfield" name="username" placeholder="Username"><br>
						<label>Password</label>
						<input type="password" name="password" placeholder="Password"><br>
					</div>
					<input type="submit" value="Sign In" name="sign_in" style="" onclick="SignInShow(show_div)">
				</form>	
			</div>	
		</div>
		</aside>
				
		<form action="show_all.html" method="post">
			{% csrf_token %}
			<input type="submit" value="Delete task" name="delete_task" style="float:right; padding-left:20px;">
		</form>

	
	<script type="text/javascript">
		function SignInShow(divId) {
			if(false == $(divId).is(':visible')){
				$(divId).show(250)
			}
			else{
				$(divId).hide(250)
			}
		};
	</script>
  	<footer>
		{{ data1 }}
  	</footer>

</body>
</html>
